<section class="todoapp">
    <app-todo-header
       placeholder="What do you want, from parent component"
       delay="400"
       (textChanges)="onTextChanges($event)"
       (onEnterUp)="addTodo()">
    </app-todo-header>

    <app-todo-list
        [todos]="todos | async"
        (onToggleAll)="toggleAll()"
        (onRemoveTodo123)="removeTodo($event)"
        (onToggleTodo)="toggleTodo($event)"
    >
    </app-todo-list>
    
    <app-todo-footer 
      [itemCount]="(todos | async)?.length"
      (onClear)="clearCompleted()">
    </app-todo-footer>
  </section>